<div class="projects-container">
  <h2>Projects</h2>
  <div class="projects-grid">
    <div class="project-card">
      <h3>Student Login System</h3>
      <a href="https://github.com/aslin-dhas/student-login.git" target="_blank">View Project</a>
    </div>
    <div class="project-card">
      <h3>Glassmorphism-login-page</h3>
      <a href="https://github.com/aslin-dhas/Glassmorphism-login-page.git" target="_blank">View Project</a>
    </div>
    <div class="project-card">
      <h3>Quick-tap-challenge</h3>
      <a href="https://github.com/aslin-dhas/Quick-tap-challenge.git" target="_blank">View Project</a>
    </div>
    <div class="project-card">
      <h3>weather-app</h3>
      <a href="https://github.com/aslin-dhas/weather-app.git" target="_blank">View Project</a>
    </div>
    <!-- SPACE FOR PROJECTS-->
  </div>
</div>


