<div class="container">
  <div class="about-container">
  <h1>EDUCATION</h1>
  <h3>I hold a Bachelor of Engineering in Mechanical Engineering, which I completed in 2023. My passion for technology and problem-solving led me to further enhance my skill set by completing a comprehensive full-stack web development course, where I specialized in Python as the backend. This combination of engineering fundamentals and advanced web development knowledge equips me to approach complex challenges with a unique perspective, blending technical precision with innovative software solutions.</h3>
  <h2>About Me</h2>
  <p>Hello! I'm Aslin Dhas, a Mechanical Engineering graduate with a passion for software development.</p>
  <p>My expertise lies in developing scalable web applications with a focus on clean code and efficient databases.</p>
  </div>
</div>
